* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

html, body {
width: 100%;
height: 100%;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial;
background: #0b3d2e;
color: white;
overflow-x: hidden;
}

header {
height: 60px;
background: #06281d;
display: flex;
align-items: center;
justify-content: center;
font-size: 22px;
font-weight: 600;
}

main {
min-height: calc(100vh - 60px);
display: flex;
justify-content: center;
align-items: center;
}

section {
width: 100%;
max-width: 420px;
padding: 20px;
}

.hidden {
display: none !important;
}

input, select, button {
width: 100%;
padding: 14px;
margin: 10px 0;
border-radius: 12px;
border: none;
font-size: 16px;
}

input, select {
background: #e6f5ee;
color: black;
}

button {
background: #1faa59;
color: white;
font-weight: 600;
cursor: pointer;
}

button:active {
transform: scale(0.98);
}

#winnerButtons button {
margin: 6px 0;
}

#leaderboard {
margin-top: 10px;
padding-bottom: 120px;
}

.leader-row {
display: flex;
justify-content: space-between;
padding: 12px;
margin: 6px 0;
background: rgba(255,255,255,.12);
border-radius: 12px;
}

/* MODAL */

.modal {
position: fixed;
inset: 0;
background: rgba(0,0,0,.75);
display: flex;
align-items: center;
justify-content: center;
z-index: 100;
}

.modal-box {
background: #06281d;
padding: 20px;
border-radius: 16px;
width: 90%;
max-width: 360px;
}

/* Floating Side Bet Button */

#sideBetBtn {
position: fixed;
bottom: 20px;
left: 50%;
transform: translateX(-50%);
width: auto;
padding: 14px 28px;
border-radius: 40px;
font-size: 16px;
box-shadow: 0 6px 16px rgba(0,0,0,.35);
z-index: 50;
}

/* ================= MONEY INPUT ================= */

.money-input {
display: flex;
align-items: center;
background: #e6f5ee;
border-radius: 12px;
padding-left: 12px;
margin: 10px 0;
}

.money-input span {
color: black;
font-weight: 600;
margin-right: 6px;
font-size: 16px;
}

.money-input input {
border: none;
background: transparent;
margin: 0;
padding: 14px 0;
font-size: 16px;
width: 100%;
}

#profile-setup h2 {
    margin-bottom: 10px;
}

#profile-setup p {
    opacity: 8;
    margin-bottom: 12px;
}